body {
	/* text-align: center; */
	background-color: lightcyan;
}
div.head {
	text-align: center;
	margin: 0em auto;
	font-size: x-large;
	background-color: beige;
	border-bottom: black dotted;
	padding: 0.5em 0;
}
div.head div {
	font-size: medium;
}
div.footer {
	text-align: center;
	margin: 1em auto;
	border-top: black dotted;
	padding-top: 0.5em;
}
div.menu {
	text-align: center;
}
div.menu a, div.footer a, button {
	background-color: #87f5fa;
	padding: 0.5em;
	margin: 1em auto;
	min-width: 10em;
	display: block;
	max-width: 20em;
	text-decoration: none;
	border-radius: 0.5em;
	color: black;
	font-family: sans;
	border-style: groove;
	border-color: silver;
	border-width: medium;
}
div.menu a:active, div.footer a:active, button:active {
	background-color: lightblue;
}
p::first-letter {
	font-size: 130%;
	margin-left: 1em;
}
div.logs {
	min-width: 15em;
	max-width: 25em;
	margin: 0.5em auto;
}
table.params {
	border-collapse: collapse;
	min-width: 15em;
	max-width: 40em;
	margin: 0.5em auto;
}
table.params td, table.params th {
	border-bottom: 1px solid silver;
}
table.params tr>:first-child {
	text-align: left;
}
table.params tr {
	text-align: right;
}
table.params input {
	width: 6em;
}
table.generic {
	min-width: 15em;
	max-width: 40em;
	margin: 0.5em auto;
}
.big {
	font-size: x-large;
	font-weight: bold;
}
.bbig {
	font-size: xx-large;
	font-weight: bold;
}
.small {
	font-size: small;
}
.off {
	color: gray;
}
.left {
	text-align: left;
}
.center {
	text-align: center !important;
}
.right {
	text-align: right;
}
.i {
	font-style: italic;
}
.b {
	font-weight: bold;
}
input.ss {
	width: 4em;
}
.bigt {
	font-size: large;
}
.top_line {
	border-top: solid 1px silver;
}
input.long {
	width: 98% !important;
}
.red {
	color: red;
}
.green {
	color: green;
}
.blue {
	color: blue;
}

.holder {
	min-width: 15em;
	max-width: 40em;
	display: flex;
	flex-flow: column nowrap;
	margin: 10px auto;
	border-collapse: collapse;
}
.narrow {
	max-width: 25em;
}
.row {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	border-bottom: 1px solid silver;
	align-items: center;
	padding: 1px;
}
.one {
	display: block;
	border-bottom: 1px solid silver;
	padding: 1px;
}
.row :first-child {
	text-align: left;
}
.row :last-child {
	text-align: right;
}
.row div {
	flex: 1 fit-content;
}
.row :last-child input {
	text-align: left;
	width: 5em;
}
.row button {
	text-align: center !important;
}
input.m {
	width: 8em !important;
}
.nb {
	white-space: nowrap;
}
div.color_demo {
	width: 1.5em;
	height: 1em;
	border: solid 1px silver;
	/* float: right; */
	flex: unset !important;
}
.row div.fix {
	/* width: 6em; */
	flex-grow: unset;
	padding-left: 1em;
}

@media screen and (max-width: 640px) {
	body {
		font-family: sans;
	}
	input,button,select {
		font-size: 1em;
		font-family: sans;
	}
}